@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;0,700;1,200&family=Roboto:wght@400;500;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 500;
}
a {
  font-weight: 400;
}
p{
  font-weight: 500;
  font-size: 18px;
    line-height:27px;

}
#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
}
 